.contact {
  height: 29px;
  width: 134px;
  left: 653px;
  top: 219px;
  color: #d9ac5d;
  text-align: center;
  /* font-weight: bold; */
  font-weight: 700;
}

.contact-center {
  margin-left: 450px;
  margin-top: 30px;
}
.border {
  height: 638px;
  width: 950px;
  left: 245px;
  margin-top: 100px;
  /* top: 200px; */
  border-radius: 8px;
  border: 1px solid #dddddd;
}

.leave-message {
  height: 24px;
  width: 193px;
  left: 305px;
  top: 306px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #374256;
}

.Send{
background: #D9AC5D !important;
border-radius: 4px !important;
color: #374256 !important;
/* width: 100%; */
width: 400px;
left: 80px;
font-weight: 800;
top: 121px;
}

/* .message {
  font: inter;
  font-weight: 400;
  size: 14px;
  line-height: 16.94px;
} */

/* body {
    background: #0e101c;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  } */

form {
  max-width: 500px;
  margin: 0 auto;
}

/* h1 {
    font-weight: 100;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(79, 98, 148);
  } */

form {
  /* background: #0e101c; */
  max-width: 400px;
  /* margin: 0 auto; */
  margin-top: 50px;
}

/* p {
    color: #bf1650;
  } */

p::before {
  display: inline;
  /* content: "⚠ "; */
  content: " ";
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  /* border: 1px solid white; */
  border: 1px solid black;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 13px;
  margin-top: 20px;
  /* color: white; */
  color: black;
  font-size: 14px;
  font-weight: 200;
}

/* button[type="submit"],
  input[type="submit"] {
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
  } */

/* button[type="submit"]:hover,
  input[type="submit"]:hover {
    background: #bf1650;
  } */

/* button[type="submit"]:active,
  input[type="button"]:active,
  input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
  } */
/*   
  input:disabled {
    opacity: 0.4;
  }
  
  input[type="button"]:hover {
    transition: 0.3s all;
  }
  
  button[type="submit"],
  input[type="button"],
  input[type="submit"] {
    -webkit-appearance: none;
  } */

/* button[type="button"] {
    display: block;
    appearance: none;
    background: #333;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  } */
/*   
  hr {
    margin-top: 30px;
  } */
/*   
  button {
    display: block;
    appearance: none;
    margin-top: 40px;
    border: 1px solid #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 4px;
  } */

/* .message-box {
  box-sizing: border-box;
  position: absolute;
  width: 422px;
  height: 117px;
  left: 210px;
  top: 553px;
  border: 1.2px solid #dddddd;
  border-radius: 4px;
} */

.youtube{
    width: 50px;
    height: 50px;
}

.img1-text{
    display: flex;
    margin-top: 100px;
}

.location{
  padding-right: 2px;
}



.img2-text{
    display: flex;
    margin-top: 40px;
}

.img3-text{
    display: flex;
    margin-top: 30px;
}

.img1-text img{
    width: 20px;
    height: 20px;
}

.img2-text img{
    width: 20px;
    height: 20px;
}

.img3-text img{
    width: 20px;
    height: 20px;
}

/* .youtube{
    width: 50px;
    height: 50px;
} */

.social-media-icon{
    height: 16px;
    margin-top: 30px;
    padding: 20px;
}

.google-map{
  width: 439px;
  height: 165px;
}

@media only screen and (max-width: 768px) {
  /* body {
    background-color: lightblue;
  } */

  .Send{
    background: #D9AC5D !important;
    border-radius: 4px !important;
    color: #374256 !important;
    /* width: 100%; */
    width: 350px;
    left: 5px;
    font-weight: 800;
    top: 121px;
    }

    .google-map{
      width: 350px;
      height: 150px;
    }

    .contact-center {
      margin-left: 270px;
      margin-top: 30px;
    }

    .img1-text{
      display: flex;
      margin-top: 70px;
    }

    .img2-text{
      display: flex;
      margin-top:30px;
  }

    


}

@media only screen and (max-width: 412px) {
  /* body {
    background-color: lightblue;
  } */

  .Send{
    background: #D9AC5D !important;
    border-radius: 4px !important;
    color: #374256 !important;
    /* width: 100%; */
    width: 180px;
    left: 5px;
    font-weight: 800;
    top: 121px;
    }

    .social-media-icon{
      height: 12px;
      margin-top: 30px;
      padding: 10px;
  }

  .google-map{
    width: 180px;
    height: 140px;
  }

  .contact {
    height: 29px;
    width: 134px;
    /* left: 600px; */
    margin-left: -130px;
    top: 219px;
    color: #d9ac5d;
    text-align: center;
    /* font-weight: bold; */
    font-weight: 700;
  }

  .contact-center {
    margin-left: 110px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 820px) {
  /* body {
    background-color: lightblue;
  } */

  .Send{
    background: #D9AC5D !important;
    border-radius: 4px !important;
    color: #374256 !important;
    /* width: 100%; */
    width: 370px;
    left: 5px;
    font-weight: 800;
    top: 121px;
    }

    .social-media-icon{
      height: 12px;
      margin-top: 30px;
      padding: 10px;
  }

  .google-map{
    width: 350px;
    height: 160px;
  }

  .contact {
    height: 29px;
    width: 134px;
    /* left: 600px; */
    margin-left: -130px;
    top: 219px;
    color: #d9ac5d;
    text-align: center;
    /* font-weight: bold; */
    font-weight: 700;
  }

  .contact-center {
    margin-left: 320px;
    margin-top: 30px;
  }
}










