.cartWrapper{
    background-color: red;
}
 .productprice{
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    color: #D9AC5D;
} 
/* .pricetext{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
color: #D9AC5D;
} */