body {
    margin: 0;
    background: white;
}
#root{
    font-family: 'Inter', sans-serif !important;
   /*  font-weight: 900;
    color: #D9AC5D; */
}

/* .btn {
    border: none;
    outline: none;
    background: #764abc;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
 */

